/*GERAL*/

*{
    color: #25282E;
}

a, i {
    transition: .5s;
    text-decoration: none;
}

.secondary-color{
    color: #555;
}

.btn{
    text-decoration: none;
    min-width: 150px;
    background-color: #25282E;
    color: #FFF;
    padding: 7px 18px;
   
}

.btn:hover{
    background-color:  #555;
    color: #FFF;
}


/* HEADER */

#header h1{
    margin-top: 20px;
}

#header{
    text-align: center;
    padding: 20px;
    border-bottom: 1px solid #ccc;
}


#logo-container{
    display: flex;
    justify-content: center;
}

#logo{
    width: 100px;
    margin-right: 15px;
}

/*NAVBAR*/

#navbar{
    padding: 10px;
    margin: 10px auto;
}

#navbar a{
    width: 80px;
    color: #444;
}

#navbar a:hover{
    color: #C1B696;
}

/*HOME*/
.bi-flower3{
    color: #f89009;

}
.presentation{
    text-align: center;
    font-size: 18px;
}

.about{
    text-align: justify;
}
.google-map{
    position: relative;
    width:60%;
    padding-top: 36.25%;
    text-align: center;
    height: 0;
}
iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

/*CARDÁPIO*/

.card{
    width: 300px;
}

.card-text{
    text-align: justify;
}
.card-title{
    text-align: center;
}


/*GALERIA*/

h2 {
    text-align: center;
}
.galeria{
    width:100%;
    height: fit-content;
    padding-bottom: 20px;
}


/*FORMULARIO*/

.form-button{
    text-align: center;
    width: 100%;
}
.error-text{
    color: #f89009;
    font-weight:700;
}

.error{
    border-color: #f89009 ;
}

input:hover,
input:focus,
textarea:hover{
    border-color: #88b524;

}

.form-control:focus {
    border-color: #88b524;
    box-shadow: 0 0 0 0.25rem #88b52480;;
  }

  .alert-success{
    background-color:  #88b52480;
    text-align: center;
  }


/*FOOTER*/

footer{
    border-top: 1px solid #CCC;
    height:200px;
    padding:20px;
}

footer i {
    font-size: 25px;
}

#social-icons-container div{
    text-align: center;
}

footer p{
    text-align: center;
    margin-top: 10px;
}

a:hover i{
    color: #C1B696;
}